.fa-icon-1 {
    font-size: 9rem;
    font-weight: 300;
    /* padding-left: 100px; */
    padding-top: 30px;
    border: 1px solid #555555;
    border-radius: 10px;
  }
@media(min-width:370px) and (max-widht: 400px){
    .portfolio .portfolio-item {
        max-width: 21rem;
    }
}

@media(min-width:401px) and (max-width: 765px){
    .portfolio .portfolio-item {
        max-width: 30rem;
    }
}

@font-face {
    font-family: 'pyidaungsu';
    src: url('../fonts/pyidaungsu/Pyidaungsu.eot');
    src: url('../fonts/pyidaungsu/Pyidaungsu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pyidaungsu/Pyidaungsu.woff2') format('woff2'),
        url('../fonts/pyidaungsu/Pyidaungsu.woff') format('woff'),
        url('../fonts/pyidaungsu/Pyidaungsu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'pyidaungsu' !important;
}

#distinct-font, #distinct-font h2, #distinct-font p {
    font-family: 'pyidaungsu' !important;
    line-height: 1.7;
    color: #828282;
}

#distinct-font p {
    line-height: 1.5;
    color: #828282;
    text-align: left !important;
}

/* for datepicker's enable date */
a.ui-state-default {
    background-color: #1abc9c !important;
    font-style: italic;
    font-weight: bold !important;
}

/* for loading icon */

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../../img/Preloader_10.gif") center no-repeat #f6f5f5;
}